pytz
# Discord bot requirements
discord.py>=2.3.0

# Google API requirements
google-auth>=2.0.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.0.0

# Environment and utilities
python-dotenv>=1.0.0

#Testing
pytest
pytest-asyncio
pytest-mock
pytest-cov
